@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{
  background-color:#ECE6E0;
  background-image:url(https://i.imgur.com/ihHDytU.jpg);
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
#joinLoginForm{
  font-family: 'NanumSquareNeo-Variable';
  padding:50px;
  border-radius:10px;
  background-color:#ECE6E0;
  width: 520px;
  margin: 0 auto;
  padding-left:35px;
  padding-top: 25px;
}
#joinLoginForm .loginform{
  padding: 17px;
  font-size:23px;
  border-radius: 3px;
  border:1px #F8E1DA solid;
  width: 490px;
  outline: none;
}
#joinLoginForm .loginsubmit{
   width: 523px;
}
.checkID{
  padding:7px 14px;
  border: 1px solid #F8E1DA;
  border-radius:4px;
  margin-top:5px;
  background-color:#683830;
  color:#fff;
  font-family: 'NanumSquareNeo-Variable';
  font-size:18px;
  margin-right:4px;
}
.checkID:active{
  background-color:#380800;
}
#joinLoginForm .getmobile{
  width:128px;
  margin: 0px;
}
#joinLoginForm .mobile{
}
#joinLoginForm .loginformlabel{
  font-size:18px;
  color:#481810;
  display:flex;
  margin-top:30px;
}

#joinLoginForm .getDate{
   font-family: 'NanumSquareNeo-Variable';
  width:140px;
}
#joinLoginForm #joinMemberMonth{
  width:159px;
}
#joinMembergender{
  font-family: 'NanumSquareNeo-Variable';
  padding:100px;
  width:300px;
}
#joinMemberSubmit{
  color:#481810;
 font-family: 'NanumSquareNeo-Variable';
}
#joinMemberSubmit{
  background-color:#481810;
  color:#fff;
  margin-top:40px;
}
#joinMemberSubmit:active{
  background-color:#380800;
}