@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#UpdateList{
  width:850px;
  margin-left:30px;
  font-family: 'NanumSquareNeo-Variable';
}
#UserTable {
    width: 100%;
    border-collapse: collapse;
  
  }
#UserTable .makeOutLine {
    border-bottom: 1px solid #D8C8C8;
  
    padding: 30px;
    width: 150px;
  }
#UserTable .makeOutLine2{
   border-bottom: 1px solid #D8C8C8;
  
}
#UserInfoChangeH3{
  font-weight:bold;
  font-size:30px;
}
.firstBox{
  background-color:#ECE6E0;
  padding-right: 18px;
}
.aboutUserInfoEdit{
  padding:10px;
  border:1px solid #ECE6E0;
  border-radius: 3px;
}
.aboutUserInfoEdit:focus{
  background-color:#FCF6F0;
  outline:1px solid #DCD6D0;
}
#updateUserInfo{
  background-color:#ECE6E0;
  border:1px solid #DCD6D0;
  padding: 8px 16px;
  border-radius: 5px;
  font-family: 'NanumSquareNeo-Variable';
}
#updateUserInfo:active{
  background-color:#DCD6D0;
}
.updateUserInfo{
   text-align:center;
 padding-bottom:100px;
}
.birth{
  width:100px;
}
#userInfoMonth{
  width:120px;
}
.changePW{
  padding-left:30px;
  font-size:15px;
}
#NewPW{
  margin-left:77px;
  margin-top:15px;
  margin-bottom:10px;
}
#reNewPW{
  margin-left:30px;
  margin-bottom:15px;
}
#PWFail{
  color:red;
  padding-left:10px;
}
.editTel{
  width:80px;
}
#PWFailchange{
  opacity:0%;
}
#deleteUser{
  text-decoration:none;
     text-align:center;
  background-color:#EEE;
  border:1px solid #ECE6E0;
  color:#481810;
  padding: 11px 19px;
  border-radius: 5px;
  font-size:17px;
  margin-left:50px;
}